USE [master]
GO
/****** Object:  Database [bibliografia]    Script Date: 22/11/2019 23:31:59 ******/
CREATE DATABASE [bibliografia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bibliografia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\bibliografia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bibliografia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\bibliografia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bibliografia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bibliografia]
GO
/****** Object:  Table [dbo].[autor]    Script Date: 22/11/2019 23:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_autor] [varchar](50) NULL,
 CONSTRAINT [PK_autor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bibliografia]    Script Date: 22/11/2019 23:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bibliografia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[materia_id] [int] NOT NULL,
	[promocion_id] [int] NOT NULL,
	[ano] [int] NOT NULL,
	[descripcion_bibliografia] [varchar](50) NULL,
 CONSTRAINT [PK_bibliografia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_bibliografia]    Script Date: 22/11/2019 23:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_bibliografia](
	[id] [int] NULL,
	[libro_id] [int] NULL,
	[descripcion_detalle] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[edicion]    Script Date: 22/11/2019 23:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edicion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_edicion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[editorial]    Script Date: 22/11/2019 23:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[editorial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_editorial] [varchar](50) NULL,
 CONSTRAINT [PK_editorial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facultad]    Script Date: 22/11/2019 23:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facultad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_facultad] [varchar](50) NULL,
	[codigo_facultad] [varchar](50) NULL,
 CONSTRAINT [PK_facultad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libro]    Script Date: 22/11/2019 23:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[isbn] [varchar](50) NOT NULL,
	[titulo] [varchar](50) NULL,
	[edicion_id] [int] NULL,
	[editorial_id] [int] NULL,
	[autor_id] [int] NULL,
	[ano_publicacion] [int] NULL,
 CONSTRAINT [PK_libro_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materia]    Script Date: 22/11/2019 23:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_materia] [varchar](50) NULL,
	[descripcion_materia] [varchar](50) NULL,
	[facultad_id] [int] NULL,
 CONSTRAINT [PK_materia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promocion]    Script Date: 22/11/2019 23:32:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promocion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_promocion] [varchar](50) NULL,
	[ano_promocion] [nchar](10) NULL,
	[nro_promocion] [int] NULL,
 CONSTRAINT [PK_promocion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bibliografia]  WITH CHECK ADD  CONSTRAINT [materia_id] FOREIGN KEY([materia_id])
REFERENCES [dbo].[materia] ([id])
GO
ALTER TABLE [dbo].[bibliografia] CHECK CONSTRAINT [materia_id]
GO
ALTER TABLE [dbo].[bibliografia]  WITH CHECK ADD  CONSTRAINT [promocion_id] FOREIGN KEY([promocion_id])
REFERENCES [dbo].[promocion] ([id])
GO
ALTER TABLE [dbo].[bibliografia] CHECK CONSTRAINT [promocion_id]
GO
ALTER TABLE [dbo].[detalle_bibliografia]  WITH CHECK ADD  CONSTRAINT [libro_id] FOREIGN KEY([libro_id])
REFERENCES [dbo].[libro] ([id])
GO
ALTER TABLE [dbo].[detalle_bibliografia] CHECK CONSTRAINT [libro_id]
GO
ALTER TABLE [dbo].[materia]  WITH CHECK ADD  CONSTRAINT [FK_materia_facultad] FOREIGN KEY([facultad_id])
REFERENCES [dbo].[facultad] ([id])
GO
ALTER TABLE [dbo].[materia] CHECK CONSTRAINT [FK_materia_facultad]
GO
USE [master]
GO
